<app-navbar [menu]="menu" [titulo]="'2.3 Proyecto Educativo Institucional(PEI)'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Proyecto Educativo Institucional(PEI)</h1>

      <p>
        Es la carta de navegación de las escuelas y colegios, en donde se especifican entre
        otros aspectos los principios y fines del establecimiento, los recursos docentes y
        didácticos disponibles y necesarios, la estrategia pedagógica, el reglamento para docentes
        y estudiantes y el sistema de gestión.
      </p>
       
      <p>
        Según el artículo 14 del decreto 1860 de 1994, toda institución educativa debe elaborar y poner en práctica con
        la participación de la comunidad educativa, un proyecto educativo institucional que exprese la forma como se ha
        decidido alcanzar los fines de la educación definidos por la ley, teniendo en cuenta las condiciones sociales,
        económicas y culturales de su medio.
      </p>
     
      <p>
        El proyecto educativo institucional debe responder a situaciones y necesidades de los educandos, de la comunidad
        local, de la región y del país, ser concreto, factible y evaluable.
      </p>
      

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen3.png" width="400px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>