<app-navbar [menu]="menu" [titulo]="'1.4 Codigo de etica del ingeniero - Unidad 1'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Codigo de etica del ingeniero</h1>
      <p>Los ingenieros mantienen y promueven la integridad, honor y dignidad de la profesión de ingeniería, a través
        de:</p>
      <ol>
        <li class="mb-2">
          Usar sus conocimientos y habilidades para mejorar el bienestar humano;
        </li>
        <li class="mb-2">
          Ser honestos e imparciales y sirviendo con fidelidad al público, sus empleadores y sus clientes.
        </li>
        <li class="mb-2">
          Esforzarse por incrementar la competencia y prestigio de la profesión de ingeniería; y
        </li>
        <li class="mb-2">
          Apoyar las sociedades profesionales y técnicas de sus disciplinas.
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <p>Las reglas fundamentales</p>
      <ol>
        <li class="mb-2">
          Los ingenieros deben mantener como principio rector la seguridad, salud y bienestar del público en el
          desarrollo de sus deberes profesionales.
        </li>
        <li class="mb-2">
          Los ingenieros deben realizar servicios sólo en sus áreas de competencia.
        </li>
        <li class="mb-2">
          Los ingenieros deben hacer declaraciones públicas sólo de manera objetiva y veraz.
        </li>
        <li class="mb-2">
          Los ingenieros deben tratar los asuntos profesionales de cada empleador o cliente como fedatarios o agentes de
          confianza, y deben evitar conflictos de interés.
        </li>
        <li class="mb-2">
          Los ingenieros deben construir su reputación profesional en el mérito de sus servicios y no deben competir de
          forma desleal con otros.
        </li>
        <li class="mb-2">
          Los ingenieros deben asociarse sólo con personas y organizaciones de buena reputación.
        </li>
        <li class="mb-2">
          Los ingenieros deben mantener el desarrollo profesional de sus carreras y deben brindar oportunidades de
          desarrollo profesional para aquellos ingenieros bajo su supervisión.
        </li>
      </ol>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
