<app-navbar [menu]="menu" [titulo]="'4.4. Preguntas frecuentes sobre derecho de autor'"
  (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Preguntas frecuentes sobre derecho de autor</h1>

      <p><Strong>1.¿Qué es la Propiedad Intelectual?</Strong></p>
      <p>
        La Propiedad Intelectual es una disciplina normativa que protege la creaciones intelectuales provenientes de un
        esfuerzo, trabajo o destreza humanos, dignos de reconocimiento jurídico. La Propiedad Intelectual comprende:
      </p>

      <p><Strong>2.¿Qué es el Derecho de Autor?</Strong></p>
      <p>
        Es la protección que le otorga el Estado al creador de las obras literarias o artísticas desde el momento de su
        creación y por un tiempo determinado.
      </p>

      <p><Strong>3.¿Qué son los derechos conexos?</Strong></p>
      <p>
        Con esta expresión se conocen en su conjunto, los derechos de los artistas, intérpretes o ejecutantes,
        productores de fonogramas y organismos de radiodifusión, en relación con sus interpretaciones o ejecuciones,
        fonogramas y emisiones de radiodifusión, respectivamente.
      </p>

      <p><Strong>4.¿Cuáles son los convenios internacionales sobre derecho de autor y derechos conexos ratificados por Colombia?</Strong></p>
      <p>
        -Acuerdo de Caracas de 1911 sobre Derechos de Autor entre Colombia, Bolivia, Ecuador, Perú y Venezuela, al cual adhirió Colombia mediante la Ley 65 de 1913.
Convención sobre Propiedad Literaria y Artística (IV Conferencia Internacional Americana, Buenos Aires, 1910), a la cual adhirió Colombia mediante la Ley 7 de 1936.

-Convención Interamericana sobre Derechos de Autor en Obras Literarias, Científicas y Artísticas, firmado en Washington en 1946, al cual adhirió Colombia mediante la Ley 6 de 1970.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen26.jp g" width="500px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>