<app-navbar [menu]="menu" [titulo]="'5.4. Software de aplicacion'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Software de aplicacion</h1>

      <p>
        El software de aplicación ayuda al usuario a completar una tareas especifica, ya sea que la tarea implique
        generar texto o gráficos, trabajar con números, realizar gráficos o preparar una presentación.
      </p>

      <p>
        Estos programas son empleados por el usuario para simplificar su vida, ya sea si decide escribir un libro. Una
        tesis o un memorándum, o para poder manejar grandes volúmenes de datos; o aquellos programas que le sirvan para
        emitir una nomina de una empresa. Estos programas son los mas solicitados por la mayoría de usuarios de
        computadoras debido a los beneficios o servicios que reciben de ellos.
      </p>

      <p> Existen también programas de aplicación que brindan al usuario otro tipo de servicios; por ejemplo, los juegos
        por computadora son muy estimados, ya que gracias a ellos el usuario obtiene diversión y esparcimiento.</p>

        <p style="font-size:15px"><strong>TIPOS DE SOFTWARE DE APLICACION</strong> </p>
        <li>Procesador de texto</li>
        <li>Procesador hoja de calculo</li>
        <li>Administrador de base de datos</li>
        <li>Software de presentacion</li>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen32.jpg" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>