<app-navbar [menu]="menu" [titulo]="'1.1 Historia de ingenieria - Unidad 1'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Historia de ingenieria</h1>
        <p>
            La historia de la ingeniería se remonta hasta tiempos antiguos cuando los seres humanos 
            comenzamos a adaptar nuestro entorno para satisfacer mejor nuestras necesidades y 
            nuestros deseos.
        </p>

        <p>
            De hecho, el concepto de ingeniería ha existido desde que los humanos desarrollaban 
            invenciones fundamentales como la rueda, la palanca y la polea. Cada una de estas 
            invenciones se asocia con la definición moderna de ingeniería, que basa su principio 
            fundamental en la explotación de conceptos mecánicos básicos para desarrollar herramientas 
            y artefactos útiles para completar diferentes tareas.
        </p>

        <p>
            Sin embargo, no fue sino hasta los años 1500s cuando nació la profesión que hoy conocemos 
            como ingeniería, cuando algunos especialistas comenzaron a utilizar matemáticas para diseñar 
            artefactos militares. Inicialmente, fueron llamados arquitectos militares, se considera que 
            fueron los primeros ingenieros según el sentido actual de la profesión. 
        </p>
        
        <p>
            Etimológicamente hablando, la palabra ingeniero proviene del latín ingenium (ingenio), muchas 
            veces referido como una “cualidad innata de poder mental”, por lo que la palabra se relaciona con 
            personas que son capaces de crear invenciones ingeniosas y prácticas.
        </p>
    </div>
    <div class="col-md-6">
        
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
