<app-navbar [menu]="menu" [titulo]="'3.2.5 Generacion de los computadores'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Generacion de los computadores</h1>
      <h1 class="mb-4">Quinta generacion</h1>

      <p>
        La quinta generación de computadoras está conformada por todos los dispositivos ya creados o en proceso de
        creación que incorporan tecnologías como la inteligencia artificial, la computación cuántica o la
        nanotecnología.
        
      </p>
      <p>
        La inteligencia artificial permitiría que las computadoras reconocieran y aprendieran el lenguaje humano de
        forma autónoma, sin la intervención del usuario. La incorporación de tecnología cuántica permitiría que las
        computadoras pudieran trabajar con enormes cantidades de datos que aún no son posibles de procesar.
      </p>

      <p>
        Mientras que la nanotecnología favorece la creación de componentes cada vez más pequeños y con mayor capacidad de
        almacenamiento.
      </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen11.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>