<app-navbar [menu]="menu" [titulo]="'4.3. Politica de proteccion de datos'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Politica de proteccion de datos</h1>

      <p><Strong>Ley de Protección de Datos Personales o Ley 1581 de 2012</Strong></p>

      <p>
        Reconoce y protege el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones
        que se hayan recogido sobre ellas en bases de datos o archivos que sean susceptibles de tratamiento por
        entidades de naturaleza pública o privada.</p>


        <p><Strong>¿Qué son datos personales?</Strong></p>
      <p>
        Cuando hablamos de datos personales nos referimos a toda aquella información asociada a una persona y que
        permite su identificación. Por ejemplo, su documento de identidad, el lugar de nacimiento, estado civil, edad,
        lugar de residencia, trayectoria académica, laboral, o profesional. Existe también información más sensible como
        su estado de salud, sus características físicas, ideología política, vida sexual, entre otros aspectos.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen25.png" width="500px">
      </div>


    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>