<app-navbar [menu]="menu" [titulo]="'1.3 Cualidades del ingeniero - Unidad 1'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Cualidades del ingeniero</h1>
      <ol>
        <li class="mb-2">
          Polifacético: Siempre fuiste apto para varias disciplinas. Bueno para las ciencias, matemáticas, química y
          otras. Tienes capacidad para sobresalir en varias tareas o campos y para ejecutar muchas actividades
          conectadas entre sí.
        </li>
        <li class="mb-2">
          Ingenioso: ¿Qué hay más cercano a la palabra ingeniería? Ser ingenioso te salvó de muchas situaciones o
          problemas, buscaste una solución tangible o construiste un objeto para tu propio beneficio en varios momentos
          de tu vida. Para eso, tuviste que ser ingenioso, analítico y estratega.
        </li>
        <li class="mb-2">
          Creativo: Muchas veces tienes que crear algo a partir de la nada. Un diseño o un proyecto comienzan en tu
          mente. Si piensas así y no has tenido problemas por falta de creatividad, la ingeniería es tu destino.
        </li>
        <li class="mb-2">
          Amor por la ciencia: Te gustan las ciencias, pero el detalle está en qué piensas hacer con ellas. Tienes
          cualidades para ser ingeniero si quieres usar las ciencias y conocimientos como punto de partida para crear o
          desarrollar algo, no solo para quedarte con la teoría.
        </li>
        <li class="mb-2">
          Actitud analítica: Si bien hay muchas carreras dentro del sector Ingeniería, todas necesitan una mente
          analítica, capaz de ver y analizar hasta el más mínimo detalle y con ello proponer soluciones.</li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="6">
        <li class="mb-2">
            Trabajador: La actividad y el dinamismo son parte de la Ingeniería. Es una carrera que exige
          mucho mental y físicamente.
        </li>
        <li class="mb-2">
            Social: No es necesario que tengas grandes habilidades sociales, pero el estereotipo de que un
          ingeniero es una persona solitaria ya está de lado. Actualmente es necesario trabajar en equipo, con
          integración y comunicación.
        </li>
        <li class="mb-2">
            Mente lógica: Una mente analítica, lógica y con razonamiento debe sobreponerse ante una mente
          idealista cuando hablamos de Ingeniería.
        </li>
        <li class="mb-2">
            Detallista: Todas las especialidades dentro de la Ingeniería requieren personas detallistas,
          pues los proyectos, obras de construcción, industrias, artefactos mecánicos-electrónicos, etc., se crean a
          partir de miles de detalles a tomar en cuenta, como piezas, planos, funcionamiento. Debe ser meticuloso, el
          más mínimo error causaría que algo colapse.
        </li>
        <li class="mb-2">
            Se toma en serio la educación: La tecnología como herramienta para la Ingeniería siempre
          avanza. Cuando termines tu carrera y encuentres un buen trabajo, el estudio no acabará. Continuarás estudiando
          siempre ya que las actualizaciones de Ingeniería nunca se detienen.
        </li>
      </ol>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
