<app-navbar [menu]="menu" [titulo]="'2.5 Acreditación de alta calidad de la Ingeniería de Sistemas en la UFPS'"
  (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Acreditación de alta calidad de la Ingeniería de Sistemas en la UFPS</h1>

     <p> El Ministerio de Educación Nacional mediante resolución 11571 del 17 de julio de 2018 otorgó la renovación de
      Acreditación de Alta Calidad al programa de Ingeniería de Sistemas de la Facultad de Ingeniería, para una vigencia
      de seis años.
    </p>

    <p>
      El reconocimiento emitido por el Consejo Nacional de Acreditación – CNA - a través del MEN, ratifica el trabajo,
      esfuerzo y compromiso de cada uno de los miembros del programa académico; docentes, estudiantes, administrativos y
      graduados, así como el de la Universidad Francisco de Paula Santander con los diversos procesos de calidad y
      formación académica de sus educandos.
    </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen4.png" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>