<app-navbar [menu]="menu" [titulo]="'3.11 Como procesa los datos el computador'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">

      <h1 class="mb-4">Como procesa los datos el computador</h1>
      
      <p>
        El computador trabaja con un lenguaje particular para procesar la información, conocido como código binario, en
        el que los números, letras e imágenes que recibe en forma de señales eléctricas, se transforman en series de
        ceros y uno. Para realizar este proceso, el computador está formado por dos partes: una tangible o hardware (la
        maquinaria y los circuitos) y una parte no tangible denominada software, que son los programas que se instalan
        en el computador, incluido su sistema operativo.
      <p>

      <p>
        <li>La información es recibida a través del teclado, un CD, un disquette o una unidad de comunicación que lo
          conecta a Internet o a otros computadores, con los que se encuentre vinculado mediante una red.</li>
        <li>Luego intervienen las memorias: la RAM, memoria interna o de acceso directo, que almacena los programas y
          las informaciones variables y tiene capacidad limitada, y la ROM, memoria externa o de solo lectura, que
          contiene las instrucciones permanentes (el sistema operativo y los programas) y es de acceso más lento.</li>
        <li>A continuación, la CPU recibe la información captada por la RAM y selecciona, entre los softwares
          almacenados en la ROM, el programa apropiado dependiendo del tipo de información de la que se trate (texto,
          imágenes, fotografía, audio, estadísticas, etc.).</li>
      </p>
      
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
