<app-navbar [menu]="menu" [titulo]="'3.4 Hardware de entrada'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Hardware de entrada</h1>

      <p>
        Los distintos dispositivos de entrada traducen los datos en impulsos eléctricos, que luego son transmitidos a la
        computadora para su procesamiento y almacenamiento en la memoria central o interna. Estos dispositivos son
        fundamentales porque permiten que el usuario pueda hacer uso de la computadora e interactuar con ella.
      </p>

      <p> <Strong style="font-size:20px">Ejemplos de dispositivos de entrada</Strong></p>
      <p><Strong>Algunos ejemplos de dispositivos de entrada son:</Strong></p>


      <p>
        <li><Strong>Teclado.</Strong> Es un tablero formado por teclas o botones con letras, números y símbolos. Este dispositivo se
          conecta a la computadora de forma inalámbrica o mediante un cable (en el caso de las computadoras portátiles,
          viene incorporado) y permite al usuario ingresar información o ejecutar funciones. El teclado más popular es
          el
          QWERTY.</li><br/>
        <li><Strong>Ratón o mouse.</Strong> Es un dispositivo que se usa para ingresar información al sistema y que traduce los
          movimientos
          que el usuario realiza con el dispositivo a instrucciones concretas. Existen distintos tipos de mouse y el más
          común tiene forma ovalada y al moverlo se mueve un puntero en la pantalla. Las computadoras portátiles suelen
          traer incorporado un touchpad, que es un panel táctil que cumple la misma función que el mouse.</li><br/>
        <li><Strong>Micrófono.</Strong> Es un dispositivo que captura el sonido y lo traduce a impulsos eléctricos que luego pueden ser
          codificados, almacenados, transmitidos y reproducidos. El micrófono introduce al sistema un mensaje hablado,
          música o cualquier otro tipo de sonido.</li><br/>
        <li><Strong>Cámara.</Strong> Es un dispositivo que captura una imagen, empleando un sistema de lentes y componentes
          fotosensibles,
          y luego la digitaliza y transmite al sistema. Estas cámaras pueden tomar fotografías o videos que son
          transmitidos o reproducidos posteriormente.</li><br/>
        <li><Strong>Escáner.</Strong> Es un dispositivo que digitaliza documentos o imágenes y los introduce dentro de la computadora.
          Luego estos archivos pueden almacenarse, enviarse o editarse.</li><br/>
        <li><Strong>Lector de código de barras.</Strong> Es un dispositivo, que puede ser de pistola, de base o de barra, que funciona
          como
          un lector óptico que reconoce un código de barras (líneas negras sobre un fondo blanco) en el que está
          contenida
          la información de un producto.</li><br/>
        <li><Strong>Joystick.</Strong> Es un dispositivo que suele usarse para los videojuegos, que consiste en una palanca que el
          usuario
          mueve para ejecutar acciones en la computadora. Su nombre proviene del inglés: joy (diversión) y stick (barra,
          palo).</li><br/>
        <li><Strong>Lápiz óptico.</Strong> Es un dispositivo con forma de lápiz que se usa en soportes táctiles, como monitores y
          pantallas, para introducir información al sistema.</li><br/>
        <li><Strong>Tableta gráfica.</Strong> Es una base plana digital sobre la que el usuario traza gráficos y dibujos que luego se
          plasman en la pantalla de la computadora.</li>



      </p>


    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen13.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>