<app-navbar [menu]="menu" [titulo]="'3.9 Funcionamiento interno del computador'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Funcionamiento interno del computador</h1>

      <p>
        Hoy en día las computadoras contienen millones de componentes electrónicos básicos. La estructura así como el
        funcionamiento de una computadora son en esencia sencillos. Existen cuatro funciones básicas que un computador
        realiza:


      </p>

      <p>
        <li>1) Procesamiento de datos.</li>
        <li>2) Almacenamiento de datos.</li>
        <li>3) Transferencia de datos.</li>
        <li>4) Control. Instrucciones</li>
      </p>
      <p>
        Una computadora debe ser capaz de procesar, almacenar y transferir datos así como debe de existir un control de
        estas tres funciones, esta función es ejercida por el usuario que proporciona las instrucciones al computador.

        Se denomina instrucción al conjunto de datos insertados en una secuencia estructurada o específica que el
        procesador interpreta y ejecuta.
      </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen18.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>