<app-navbar [menu]="menu" [titulo]="'3.13 Factores que afectan la velocidad del procesamiento'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Factores que afectan la velocidad del procesamiento</h1>
      
        
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
