<app-navbar [menu]="menu" [titulo]="'4.1. Ley 23. Colombia (UNESCO) '" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Ley 23. Colombia (UNESCO)</h1>

      <p> <Strong>Artículo 1º.-</Strong> Los autores de obras literarias, científicas y artísticas gozarán de protección
        para sus obras
        en la forma prescrita por la presente Ley y, en cuanto fuere compatible con ella, por el derecho común. También
        protege esta Ley a los interpretes o ejecutantes, a los productores de programas y a los organismos de
        radiodifusión, en sus derechos conexos a los del autor.</p>

      <p><Strong>Artículo 2º.-</Strong> Los derechos de autor recaen sobre las obras científicas literarias y artísticas las cuales se
        comprenden todas las creaciones del espíritu en el campo científico, literario y artístico, cualquiera que sea
        el modo o forma de expresión y cualquiera que sea su destinación , tales como: los libros, folletos y otros
        escritos; las conferencias, alocuciones, sermones y otras obras de la misma naturaleza; las obras dramáticas o
        dramático-musicales; las obras coreográficas y las pantomimas; las composiciones musicales con letra o sin ella;
        las obras cinematográficas, a las cuales se asimilan las obras expresadas por procedimiento análogo a la
        cinematografía, inclusive los videogramas; las obras de dibujo, pintura, arquitectura, escultura, grabado,
        litografía; las obras fotográficas o las cuales se asimilan las expresadas por procedimiento análogo a la
        fotografí a; las obras de arte aplicadas; las ilustraciones, mapas, planos croquis y obras plásticas relativas a
        la geografía, a la topografía, a la arquitectura o a las ciencias y, en fin, toda producción del dominio
        científico, literario o artístico que pueda reproducirse, o definirse por cualquier forma de impresión o de
        reproducción, por fonografía, radiotelefonía o cualquier otro medio conocido o por conocer.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen23.png" width="500px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>