<app-navbar [menu]="menu" [titulo]="'5.1. Conceptos del software'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Conceptos del software</h1>
      
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>