<app-navbar [menu]="menu" [titulo]="'5.1. Conceptos del software'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Conceptos del software</h1>
      <p>-El software representa toda la parte inmaterial o intangible que hace funcionar a un ordenador para que
        realice una serie de tareas específicas, coloquialmente conocidos como programas el software engloba a toda la
        información digital que hace al conjunto de elementos físicos y materiales que componen el computador trabajar
        de manera inteligente.
      </p>
      <p>-Cualquier ordenador o computadora está compuesta por 2 partes bien diferenciadas el hardware y el software, el
        hardware representa a todos los materiales físicos de la computadora como la placa base, el microprocesador, el
        teclado o el disco duro donde se almacena la información, para que todos estos elementos físicos funcionen es
        necesario el software que representa a toda la parte inmaterial que no vemos del ordenador</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen30.jpg" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>