<app-navbar [menu]="menu" [titulo]="'3.2 Generacion de los computadores'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Generacion de los computadores</h1>
      
        
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen6.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
