<app-navbar [menu]="menu" [titulo]="'3.2.1 Generacion de los computadores'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Generacion de los computadores</h1>
        <h1 class="mb-4">Primera generacion</h1>
      
        <p>
          Entre 1940 y 1956 aparecieron las primeras computadoras que dieron origen a los dispositivos que conocemos hoy.
          En ese momento, se trataba de aparatos conformados por grandes tubos de vacío que ocupaban habitaciones enteras.
          Un tubo de vacío es un componente electrónico con forma de bulbo, que se encarga de amplificar o modificar una
          señal eléctrica. Este dispositivo fue clave para el desarrollo de las telecomunicaciones y la computación y de
          hecho, se sigue utilizando hoy en día en aparatos como el horno microondas o los transmisores de
          radiofrecuencia.
        </p>
  
        <p>
          Las computadoras de primera generación solo podían realizar una operación a la vez y consumían mucha energía
          eléctrica. Estaban programadas con lenguaje máquina, que es un lenguaje de programación de bajo nivel, y la
          entrada y salida de los datos se hacía con tarjetas perforadas.
          Un ejemplo de computadoras de primera generación es la Univac, desarrollada para la Oficina de Censo de Estados
          Unidos en 1951.
        </p>
       
  
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen7.jpg" width="500px">
        <p>Computadora del Glenn Research Center, perteneciente a la NASA,1949</p>
      </div>
     
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
