<app-navbar [titulo]="''" [anterior]="false" [siguiente]="false"></app-navbar>

<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 mt-2 gap-1">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="estudiantes" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','apellido','email','telefono']" 
        [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} estudiantes" 
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Estudiantes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #search (input)="dt.filterGlobal(search.value, 'contains')" placeholder="Buscando..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                <th pSortableColumn="telefono" style="min-width:10rem">Telefono <p-sortIcon field="telefono"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="nota1">Nota 1 <p-sortIcon field="nota1"></p-sortIcon></th>
                <th pSortableColumn="nota2">Nota 2 <p-sortIcon field="nota2"></p-sortIcon></th>
                <th pSortableColumn="nota3">Nota 3 <p-sortIcon field="nota3"></p-sortIcon></th>
                <th pSortableColumn="nota4">Nota 4 <p-sortIcon field="nota4"></p-sortIcon></th>
                <th pSortableColumn="nota5">Nota 5 <p-sortIcon field="nota5"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estudiante>
            <tr>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.apellido}}</td>
                <td>{{estudiante.telefono}}</td>
                <td>{{estudiante.email}}</td>
                <!-- <td>{{obtenerCalificaciones(estudiante.id, 1) | async }}</td>
                <td>{{obtenerCalificaciones(estudiante.id, 2) | async }}</td>
                <td>{{obtenerCalificaciones(estudiante.id, 3) | async }}</td>
                <td>{{obtenerCalificaciones(estudiante.id, 4) | async }}</td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{estudiantes ? estudiantes.length : 0 }} estudiantes.
            </div>
        </ng-template>
    </p-table>
</div>
<!-- 
<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>

        <div class="field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label class="mb-3">Category</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>
 -->