<app-navbar [menu]="menu" [titulo]="'Tema - Unidad 5'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Unidad 5</h1>
        <p class="mb-4 fw-bold">Software y licencias</p>
      
        <p class="mb-4">Temas en la unidad:</p>
        <ol>
            <li>Temas</li>
            <li>Conceptos del software</li>
            <li>Software base</li>
            <li>Software de desarrollo</li>
            <li>Software de aplicacion</li>
            <li>Software utilitario</li>
            <li>Licencia de software</li>
        </ol>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>