<app-navbar [menu]="menu" [titulo]="'3.2.4 Generacion de los computadores'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Generacion de los computadores</h1>
      <h1 class="mb-4">Cuarta generacion</h1>

      <p>
        A partir de 1971 las computadoras dejaron de funcionar con circuitos integrados y comenzaron a incorporar
        microprocesadores. Un microprocesador es un circuito integrado, pero mucho más complejo, capaz de gestionar
        todas las funciones de una computadora. Por eso es también conocido como Unidad Central de Procesos o CPU.
        La cuarta generación de computadoras se caracterizó por incluir dos tipos de memoria:
      </p>
      <p>
        Memoria RAM: almacena datos de programas de manera temporal, mientras el equipo está encendido.
      </p>
      <p>
        Memoria ROM: almacena datos de programas de forma permanente.
      </p>
      <p>
        Este tipo de computadoras usan lenguajes de programación de alto nivel, como JavaScript, Phyton o Java. La
        entrada y salida de los datos se hace a través de dispositivos periféricos como el teclado, escáner, monitor,
        cd’s, etc. Además, su tamaño y la disminución de los costos de producción hicieron que este tipo de computadoras
        se vendieran masivamente.
        Un ejemplo de computadoras de cuarta generación sería la Apple Macintosh y las PC.
      </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen10.jpg" width="500px">
        <p>Apple Machintosh, 1984</p>
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>