<app-navbar [menu]="menu" [titulo]="'3.6 Hardware de proceso'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Hardware de proceso</h1>

      <p>
        En otras palabras, la misión del hardware de procesamiento es realizar las órdenes que se vayan dando por parte
        del usuario del dispositivo vía software. Este tipo de unidades físicas son clave para el funcionamiento de un
        dispositivo, ya que son considerados el cerebro del dispositivo.

      </p>

      <p>
        De forma técnica el hardware de procesamiento suele ser la CPU (Central Processing Unit) lo que traducido al
        español vendría a ser ‘Unidad Central de Procesamiento’. Por lo que, la CPU no es más que la unidad física del
        dispositivo que procesa cada movimiento que se realiza. También se dan otros tipos de hardware de procesamiento,
        como son las propias tarjetas dedicadas, ya sean de sonido, gráficas, etc.
      </p>

      <p>
        <Strong style="font-size:20px">Ejemplos de hardware de procesamiento</Strong>
        
      </p>
       
        
        <p>
          Dependiendo del dispositivo, la unidad de procesamiento (en este caso analizaremos las de carácter central)
          poseerá una arquitectura (generación y junto con unidad física o virtual), potencia (GHz) y calidad de
          componentes (marca utilizada) distintas. Aquí van algunos ejemplos que podemos encontrar: 
        <li><Strong>Intel Core:</Strong> Se trata de la línea de procesadores de Intel, el cual abarca los modelos i3,
          i5, i7, i9, etc.
          Nvidia Geforce: Es la línea de tarjetas gráficas de la marca Nvidia.</li><br/>
        <li><Strong>Focusrite Scarlett:</Strong> Es una de las mejores empresas dedicadas a las tarjetas de sonido
          externas del momento según
          sus usuarios, la mayoría profesionales del sector.</li><br/>
        <li><Strong> ASUS PCE-AC56:</Strong>Se trata de la línea de productos de ASUS en materia de tarjetas de red. En
          este sentido la
          compañía es líder en el sector.</li> <br/>
        En definitiva, según sea el dispositivo nos encontraremos con un hardware de una calidad u otra. Es decir, de
        nada sirve tener un teléfono con un hardware limitado pero con el mejor procesador del mercado.




      </p>


    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen15.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>