<app-navbar [menu]="menu" [titulo]="'4.2. Normatividad de derechos de actor y propiedad intelectual'"
  (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Normatividad de derechos de actor y propiedad intelectual</h1>

      <p>El derecho de autor es la rama de la propiedad intelectual que reconoce, en cabeza de los autores, ciertas
        prerrogativas morales y patrimoniales sobre sus obras artísticas y literarias que sean originales, y
        susceptibles de ser divulgadas o reproducidas por cualquier medio. Los derechos conexos, por otro lado, son
        aquellos derechos reconocidos a los artistas intérpretes o ejecutantes, los productores de fonogramas y los
        organismos de radiodifusión, sobre sus interpretaciones, fonogramas o emisiones de radiodifusión. La regulación
        del derecho de autor y los derechos conexos se encuentra principalmente en la Ley 23 de 1982 y la Decisión
        Andina 351 de 1993.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen24.jpeg" width="500px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>