<app-navbar [menu]="menu" [titulo]="'5.3. Software de desarrollo'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Software de desarrollo</h1>
      <p>
        El software de programación es el conjunto de herramientas que permiten al desarrollador informático escribir
        programas usando diferentes alternativas y lenguajes de programación.

      </p>

      <p>Este tipo de software incluye principalmente compiladores, interpretes, ensambladores, enlazadores, depuradores,
        editores de texto y un entorno de desarrollo integrado que contiene las herramientas anteriores, y normalmente
        cuenta con una avanzada interfaz gráfica de usuario.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen31.jpg" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>