<app-navbar [menu]="menu" [titulo]="'Tema - Unidad 4'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Unidad 4</h1>
        <p class="mb-4 fw-bold">Derechos de autor</p>
      
        <p class="mb-4">Temas en la unidad:</p>
        <ol>
            <li>Temas</li>
            <li>Ley 23. Colombia (UNESCO)</li>
            <li>Normatividad de derechos de actor y propiedad intelectual</li>
            <li>Politica de proteccion de datos</li>
            <li>Preguntas frecuentes sobre derecho de autor</li>
            <li>¿Que es el copyright?</li>
            <li>¿Que es la propiedad intelectual?</li>
        </ol>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>