<app-navbar [menu]="menu" [titulo]="'3.2.3 Generacion de los computadores'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Generacion de los computadores</h1>
      <h1 class="mb-4">Tercera generacion</h1>
      <p>
        A partir de 1964 y hasta 1971 el mercado estuvo dominado por la tercera generación de computadoras,
        caracterizadas por la incorporación de los circuitos integrados que sustituyeron a los transistores. Un circuito
        integrado es un chip hecho de silicio que cuenta con diferentes componentes que forman una especie de circuito
        en miniatura.

      </p>

      <p>
        En este tipo de computadora los datos de entrada y salida eran gestionados a través de dispositivos periféricos
        como el monitor, el teclado o la impresora. Además, se masificó el uso de sistemas operativos, que son un tipo
        de software que permite la ejecución de múltiples instrucciones de forma simultánea.
      </p>

      <p>
        A partir de esta generación comenzaron a utilizarse lenguajes de programación de alto nivel de forma masiva,
        como COBOL, FORTAN, Pascal, etc. Este tipo de lenguajes se distingue de los lenguajes de bajo nivel en que son
        mucho más cercanos al lenguaje natural (utilizado por los seres humanos) que al lenguaje máquina (código
        binario). Además, son portables, por lo que se pueden utilizar en otros dispositivos.
      </p>
      

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen9.jpg" width="500px">
        <p>Computadora de circuitos integrados</p>
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>