<div class="container-fluid d-flex justify-content-center align-content-center align-items-center">
    <div class="card" style="width: 34rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Inicio de Sesion</h5>
            <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="correoInput" placeholder="name@example.com">
                    <label for="correoInput">Correo electrónico</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                    <label for="passwordInput">Contraseña</label>
                  </div>
                  <div class="container-button d-flex justify-content-center align-content-center">
                      <button class="btn mt-3">Iniciar Sesion</button>
                  </div>
            </form>
        </div>
    </div>
</div>