<app-navbar [menu]="menu" [titulo]="'3.7 Memoria principal y secundaria'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Memoria principal y secundaria</h1>

      <p>
        En las computadoras, la memoria se considera una de las partes más esenciales. Es el dispositivo que se utiliza
        para almacenar información en la computadora para uso inmediato o posterior. También se puede considerar como el
        cerebro de la computadora.
      </p>

      <p>
        La memoria de la computadora es básicamente de dos tipos, memoria primaria y memoria secundaria. La memoria
      almacena datos dentro de sí misma para su recuperación. Tanto la memoria primaria como la secundaria tienen
      procesos muy diferentes mediante los cuales guardan datos. Luego, la unidad central de procesamiento procesa los
      datos.
      </p>

      <p>
        los diferencia entre la memoria primaria y la memoria secundaria es que la memoria primaria se considera como la
      memoria principal de la computadora a la que puede acceder la CPU. Mientras que la memoria secundaria es un
      dispositivo de almacenamiento externo que puede almacenar datos de forma permanente.
      La memoria primaria y la memoria secundaria son partes de la unidad de memoria principal en una computadora que se
      utiliza para almacenar y procesar datos.
      </p>
      

      


    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <p><Strong style="font-size:15px">Tabla de comparación entre la memoria primaria y la memoria secundaria</Strong></p>
        <img src="./assets/img/Imagen16.PNG" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>