<app-navbar [anterior]="false" [menu]="menu" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Bienvenido a Introducción de Ingenieria de Sistemas</h1>
      <p class="mb-3">
        El propósito del curso es proporcionar los conceptos fundamentales acerca
        de la ingeniería como profesión y perfil del ingeniero de sistemas, además
        trata del procesamiento de la información computarizada, los conceptos básicos
        sobre la organización y funcionamiento en los sistemas de computadores y sobre
        el impacto social que causa el computador.
      </p>

      <p class="mb-3">
        El curso Introducción a la Ingeniería de Sistemas proporciona conceptos fundamentales acerca de la ingeniería
        como profesión y perfil del ingeniero de sistemas, además trata del procesamiento de la información
        computarizada, los conceptos básicos sobre la organización y funcionamiento en los sistemas de computadores y
        sobre el impacto social que causa el computador.
      </p>
      <p class="mb-3">
        Desde lo cognitivo, es importante proporcionar a los estudiantes de primer semestre de Ingeniería de Sistemas
        las herramientas conceptuales fundamentales que sirven como cimientos en la formación del futuro profesional.
        Desde lo Procedimental el estudiante Identifique las características, campo de acción, perfil profesional y
        ocupacional del Ingeniero de Sistemas.
      </p>
      <p class="mb-3"> 
        Desde lo Actitudinal. El estudiante determine los componentes que integran un sistema de cómputo, así como su
        uso aplicabilidad y beneficios en las actividades actuales.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="../../../../assets/image/logoIngSoft.png" width="700px">
      </div>
    </div>
  </div>
</div>
<app-footer [anterior]="false" (siguienteClick)="paginaSiguiente()"></app-footer>
