<app-navbar [menu]="menu" [titulo]="'3.10 Ensamble de computador'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Ensamble de computador</h1>

      <p>•La caja, torre o carcasa del computador es su estructura básica. Por esa razón,
        es importante familiarizarse con ella antes de ensamblar las partes internas.
      </p>
      <p>•Para empezar, retire las cubiertas de la caja y acueste de lado en el suelo, de
        manera que sus ranuras traseras queden perpendiculares a la superficie sobre la
        que descansa</p>
      <p>
        •Identifique el espacio reservado en la torre para la tarjeta madre (generalmente,
        el compartimiento más grande). Tome el componente, colóquelo en el lugar
        indicado y atornille hasta que quede seguro
      </p>
      <p>
        •A continuación, tome el procesador e insértelo en su contenedor (lo identifica
        porque tiene forma de marco cuadrado, generalmente blanco o amarillo, y se
        encuentra cerca de las bahías PCI). Para hacerlo, levante la pequeña palanca
        localizada a un lado de la ranura.

      </p>
      <p>
        •Si observa la cara inferior del chip, notará que un pin parece faltar en una de sus
        esquinas. Asegúrese de alinear ese ángulo con la arista del contenedor en la que
        falta un agujero.
      </p>

      <p>
        •Antes de proceder con el acoplamiento del ventilador del procesador, es
        recomendable aplicar sobre el componente una pasta térmica o una almohadilla
        disipadora, que permitirá transferir el exceso de calor del chip para maximizar la
        efectividad del sistema de enfriamiento
      </p>

      <p>•Los módulos DIMM son fabricados con un sistema de muescas que hace posible
        acomodar la memoria RAM en su correspondiente bahía. Aunque es imposible
        acoplar el componente de forma equivocada
      </p>

      <p>•Red e Internet Para llevar a cabo la instalación de la tarjeta de red y el módem,
        basta encontrar los puertos PCI libres y presionar en ellos los dispositivos hasta
        que queden justos. Aunque en la actualidad vienen incorporadas en la
        motherboard
      </p>

      <p>
        •Si por cualquier motivo enchufamos el computador y empieza a pitar, ya no nos
        tenemos que preocupar, pues en la siguiente tabla se muestra el número de
        pitidos y su significado para saber qué nos falla exactamente.

      </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen20.png" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>