<app-navbar [menu]="menu" [titulo]="'3.3 Tipo de computadoras'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Tipo de computadoras</h1>

      <p>
        Existen muy diversos tipos de computador, atendiendo a rasgos como su tamaño, potencia y utilidad. Entre ellos,
        destacan:
     
     <ul>
      <li> <Strong>Supercomputadoras.</Strong> Los aparatos de mayor potencia del mundo son, en realidad, conjuntos de computadoras
        distintas integrados en una sola unidad, que pueden potenciarse de manera exponencial. La supercomputadora más
        grande del mundo se encuentra en la Universidad Nacional de Tecnología de Defensa de China, se llama Tianhe-2 y
        puede realizar unos 33.48 mil billones de operaciones por segundo.</li>

      <li><Strong>Mainframes.</Strong> Se conocen también como macrocomputadoras, y suelen tener un gran tamaño (al menos comparado con
        los computadores portátiles) y hallarse en habitaciones cuidadosamente refrigeradas dentro de las grandes
        empresas o instituciones de un país, en donde llevan a cabo millones de cálculos y operaciones por segundo,
        alimentando redes y sistemas computarizados enteros con información.</li>

      <li><Strong>Computadoras personales (PCs).</Strong> Unidades destinadas al uso de un solo usuario a la vez, permitiéndole realizar
        muy diversas tareas, entre ellas conectarse a una red informática y enviar y recibir datos a altas velocidades.
        Poseen un microprocesador de potencia variable y son el tipo de computadoras a los que podemos acceder
        comercialmente en cualquier tienda de tecnología. Se les conoce también como computadoras de escritorio.</li>

      <li><Strong>Computadores portátiles (laptops, netbooks).</Strong> Aunque se trata en efecto de computadoras personales, a este tipo
        de aparatos los listamos aparte porque se trata de piezas físicamente ligeras, diseñadas para su uso en
        exteriores o para viajar con nosotros en un maletín. Aunque poseen menos potencia que las PC, lo compensan en
        practicidad y movilidad.</li>

      <li><Strong>Tabletas y celulares.</Strong> La generación más reciente de artefactos tecnológicos (gadgets) son esencialmente
        computadoras, aunque destinadas a funciones distintas (generalmente más lúdicas o de comunicaciones) y de un
        tamaño todavía menor a las portátiles. Los celulares “inteligentes” son pequeñas pero potentes computadoras
        dedicadas a las telecomunicaciones y la navegación por Internet, mientras que las tabletas son pequeñas
        pantallas táctiles con funciones similares.</li>

      </ul>
       
      
     

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
 <div>
        <img src="./assets/img/Imagen12.jpg" width="500px">
        
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>