<app-navbar [menu]="menu" [titulo]="'3.8 Buses del sistema'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Buses del sistema</h1>

      <p>Un bus es una trayectoria por la cual viajan los datos en una computadora para
        comunicar los distintos dispositivos entre sí. Los principales buses que se encuentran
        dentro de una PC son: los Buses del micro-procesador, los Buses de memoria y los
        Buses del sistema.
      </p>
      <p>
        <li>Conectar las placas con el micro, la RAM, etc. para permitir el intercambio de
          datos.</li>
        <li>Llevar tensión de alimentación a las placas (+5 v, -5 v. +12 v y -12 v).</li>
        <li>Facilitar la instalación o remoción de las diversas placas.</li>
        <li>Ofrecer un estándar de conexión al sistema, para poder ensamblar en el futuro
          cualquier tipo de tarjeta.</li>
      </p>
      <p>
        El bus del sistema es responsable de la correcta interacción entre los diferentes
        componentes de la computadora. Buena parte de las conexiones de la CPU son
        conductos del bus, los cuales son prácticamente la única vía de contacto del procesador
        con el exterior. El bus del sistema permite a la CPU comunicarse con los periféricos de
        entrada y salida.

      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>

        <img src="./assets/img/Imagen17.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>