<app-navbar [menu]="menu" [titulo]="'2.1 ¿Que es la ingeniería de sistemas?'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">¿Que es la ingeniería de sistemas?</h1>
    <p> Si te preguntas qué es la Ingeniería de Sistemas, empecemos por definirla.
      Es la rama de la ingeniería relacionada con el manejo de las tecnologías y
      los sistemas de información. Esta contempla las bases teóricas y metodológicas
      necesarias para el diseño, la implantación, el análisis, el control, el procesamiento,
      el transporte, la operatividad, la toma de decisiones y la búsqueda de seguridad de los
      sistemas informáticos (Universia, s.f.).
    </p>

      <br/>


      <p>La Ingeniería de Sistemas abarca diversos campos, como la programación. Además, busca generar
      soluciones para optimizar los recursos y contribuir con el desarrollo y bienestar de la sociedad.
      Ahora bien, una de las particularidades de la Ingeniería de Sistemas es, sin duda, su impacto a nivel mundial.
    </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen1.jpg" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>