<app-navbar [menu]="menu" [titulo]="'2.4 Proyecto Educativo del Programa(PEP)'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Proyecto Educativo del Programa(PEP)</h1>

      <p>
        El Proyecto Educativo del Programa (PEP) esboza los principios filosóficos y axiológicos que soportan el proceso
        formativo del Programa de Administración de Empresas
      </p>

      <p>
        Este es un plan que contiene los ajustes recomendados para las metas educacionales y programas y que identifica
        los soportes y servicios que efectivamente le permitirán al estudiante excepcional aprender y progresar.
      </p>
      
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen4.png" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>