<app-navbar [menu]="menu" [titulo]="'4.5. ¿Que es el copyright?'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">¿Que es el copyright?</h1>

      <p>El copyright representa los derechos de autor que se le conceden a los creadores de una obra literaria, tema
        musical o artículo científico, entre otras.



      </p>

      <p> El derecho de autor es un conjunto de normas y principios que regulan los derechos morales y patrimoniales que
        la ley concede a los autores, por el solo hecho de la creación de una obra literaria, artística o científica,
        tanto publicada o que todavía no se haya publicado.</p>

      <p>Todos los autores deben conocer sus derechos a la hora de crear una obra, publicarla y saber que su esfuerzo
        creativo tiene una recompensa.</p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen27.webp" width="500px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>