/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.lab {
    background: #f5f5f5;
    padding: 35px 55px;
    overflow-y: auto;
    font-size: 14px;
    min-height: calc(100vh - 160px);
}
.lab h1 {
    color: #264166;
    font-size: 22px;
    font-weight: bold;
}
.lab h2 {
    color: #264166;
    font-size: 17px;
    font-weight: bold;
}