<app-navbar [menu]="menu" [titulo]="'1.2 Ingenieria en Colombia - Unidad 1'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Ingenieria en Colombia</h1>
      <p>
        Desde mediados del siglo XIX nació la ingeniería colombiana en las aulas del Colegio Militar,
        creado por iniciativa del general Tomás Cipriano de Mosquera para formar los oficiales del
        Estado Mayor y los ingenieros civiles, a la manera de los institutos franceses de la era napoleónica.
      </p>
      <p>
        Surgió entonces el primer ferrocarril, a solo 18 años de su iniciación en Europa, con la
        construcción del cruce del istmo de Panamá por un concesionario extranjero. Pero bien
        pronto los egresados del Colegio Militar estimularon el interés de los mandatarios
        regionales por la promoción de líneas férreas, inicialmente orientadas a desembotellar
        el país mediante los enlaces con los puertos marítimos y el río Magdalena.
      </p>
      <p>
        El despertar del siglo XX coincidió con la cruenta guerra de los Mil Días, que paralizó el progreso nacional.
        Pero entonces surgió la visión del general Rafael Reyes como jefe de Estado, que continuó el desarrollo
        ferroviario e inició la era de las carreteras, una vez difundido el invento del automóvil. La ingeniería
        colombiana recobró entonces sus impulsos iniciales y los proyectó a lo largo de tres décadas, en que las obras
        viales concentraron el esfuerzo realizador y el desarrollo tecnológico, con la iniciación de los pavimentos y la
        instalación de grandes puentes metálicos, que después evolucionaron hacia las estructuras de hormigón armado.
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Paralelamente, desde la década de los años veinte se promovió la rectificación del río Magdalena y la apertura
        de las Bocas de Ceniza para realizar el puerto de Barranquilla, que complementara las facilidades de Cartagena,
        Santa Marta y Buenaventura, simultáneamente expedidas para habilitar el desarrollo del comercio internacional.
        Por esa misma época se inició el transporte aéreo, en que Colombia figuró como pionera de América.
      </p>
      <p>
        Este proceso de la ingeniería de obras públicas inició su diversificación en la década de los años cuarenta con
        las primeras centrales hidroeléctricas, construidas en los saltos de Guadalupe y Tequendama, además de las obras
        sanitarias de las ciudades principales y las irrigaciones en los llanos del Tolima. Entonces penetró la técnica
        extranjera y se produjo la especialización profesional de los ingenieros colombianos.
      </p>
      <p>
        Entre tanto, el marco institucional ha tenido considerables transformaciones, desde la creación del Ministerio
        de Obras Públicas en 1905, que inicialmente concentrara todas las actividades de la ingeniería. Pero en la
        medida en que se diversificaba se fueron creando nuevos organismos para desarrollar los servicios que habían
        cobrado importancia.
      </p>
      <p>
        Al hacer este breve recuento no puede olvidarse la contribución exitosa del medio universitario, iniciada en las
        postrimerías del siglo pasado con la creación de las Facultades de Ingeniería de Bogotá, Medellín y Popayán, que
        han sido diversificadas y complementadas con más de un centenar de institutos especializados. Tampoco puede
        olvidarse a la Sociedad Colombiana de Ingenieros, que desde principios del siglo actúa como órgano consultivo
        del gobierno y como veedor de la reglamentación profesional.
      </p>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
