<app-navbar [menu]="menu" [titulo]="'5.5. Software de utilitario'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Software utilitario</h1>
      <p>Gracias al afín del hombre por facilitar sus tareas y mejorar los procesos que se desarrollan, se han diseñado
        en todas las áreas herramientas que cumplen con esta labor. En el ámbito de las computadoras cada día se ha
        procurado mejorar e innovar en productos que le ofrezcan al usuario la satisfacción plena de sus necesidades.
      </p>
      <p>Existe un tipo de herramientas que le facilitan al usuario tareas más específicas como: hacer respaldo de
        archivos, detectar virus en la computadora, recuperar archivos que hayan sido borrados, entre otros. Este tipo
        especial de software es el Software Utilitario.</p>


      <p style="font-size:15px"><strong>EJEMPLOS DE SOFTWARES UTILITARIOS</strong> </p>
      <li> <Strong>Desfragmentación:</Strong> Cuando se quiere guardar un archivo en el computador, el Sistema Operativo
        trata de almacenar la información en un solo lugar, es decir, en uno o mas sectores contiguos. Esto se realiza
        mientras que haya suficientes sectores contiguos vacios donde quepa el archivo a guardar.
      </li>
      <li><Strong>Compresión de datos:</Strong> Este tipo de herramienta permite la reducción del tamaño de un archivo
        con el fin de ahorrar espacio o para transferirlo con mayor velocidad. Esta herramienta esta diseñada para que
        de forma especifica abrevie las secuencias de bits del archivo y así hacerlos tan pequeños como sea posible.

      </li>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen33.jpg" width="500px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>