<app-navbar [menu]="menu" [titulo]="'3.2.2 Generacion de los computadores'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Generacion de los computadores</h1>
      <h1 class="mb-4">Segunda generacion</h1>
    
     
      

      <p>
        Desde 1956 hasta 1963 se mantuvo vigente la segunda generación de computadoras que llegó con la invención de los
        transistores. Esto supuso el reemplazo de los tubos de vacío y un avance importante en el mundo de la computación.
        Un transistor es un dispositivo que sirve como regulador de la corriente eléctrica, lo que permitió la creación de
        computadoras más eficientes en términos energéticos.
      </p>

      <p>
        Las computadoras de segunda generación no solo se diferenciaban por su tecnología y menor tamaño, sino por el
        cambio en el lenguaje de programación, que pasó a lenguaje ensamblador. Este lenguaje es básico y no portable, es
        decir, no podía ser usado en otra computadora, pero consume menos recursos que su antecesor.
        Estas computadoras seguían utilizando tarjetas perforadas para ingresar los datos.
      </p>

      <p>
        Un ejemplo de computadora de segunda generación es la PDP-1, un dispositivo desarrollado en 1960 para fines de
        investigación científica y en donde se jugó el primer videojuego de la historia, el Spacewar.
      </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen8.jpg" width="500px">
        <p>Computadora del centro de control del túnel de viento de la NASA, 1956</p>
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>