<app-navbar [menu]="menu" [titulo]="'3.5 Hardware de salida'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Hardware de salida</h1>

      <p>Los dispositivos de salida se conectan a la computadora por medio de un cable o de forma inalámbrica (en las
        computadoras portátiles, algunos periféricos de salida ya vienen incorporados) y permiten que la información de
        una computadora pueda verse, escucharse o reproducirse.</p>

      <p>
        <li><Strong>Monitor. </Strong>También conocido como pantalla, es un aparato que envía señales de video y permite
          al usuario observar por medio de imagen parte del procesamiento que se lleva a cabo dentro de la computadora.
          Es uno de los periféricos de salida más importantes y existen diferentes tipos que varían entre sí de acuerdo
          al peso, el tamaño y las funcionalidades. Algunos monitores pueden funcionar como dispositivos de
          entrada/salida cuando tienen la pantalla táctil, lo que le permite al usuario ingresar información al
          ordenador por medio del monitor.</li>
        <li><Strong>Parlante. </Strong>Es un dispositivo que permite reproducir sonido, que puede ser música o cualquier
          otro sonido que se emita desde el ordenador. También son llamados “altavoces” y varían entre sí según su
          tamaño y potencia.</li>
        <li><Strong>Auriculares. </Strong>Son dispositivos que reproducen el sonido que se emite desde la computadora.
          Pueden conectarse al ordenador a través de un cable o por medio de una señal, como Bluetooth. Se diferencian
          de los parlantes porque solo son usados por una persona.</li>
        <li><Strong>Impresora.</Strong>. Es un periférico que reproduce la información (textos o gráficos) de una
          computadora en un papel u otro soporte. Se conecta a una o varias computadoras por medio de un cable o de
          forma inalámbrica. Existen diferentes tipos de impresoras de acuerdo a sus funcionalidades y a la tecnología
          que utilicen, como las impresoras de láser, térmicas y plotters. También existen las impresoras multifunción,
          que son dispositivos de entrada/salida porque, además de imprimir, pueden fotocopiar y escanear documentos.
        </li>
        <li><Strong>Proyector.</Strong>. Es un dispositivo que permite agrandar la imagen del monitor y hacerla visible
          en una superficie mayor.</li>
      </p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen14.jpg" width="500px">
      </div>
    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>