<app-navbar [menu]="menu" [titulo]="'2.2 Campos de un ingeniero de sistemas'" (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mb-4">Campos de un ingeniero de sistemas</h1>
       
        <p>Luego de conocer qué es la Ingeniería de Sistemas, revisemos sus campos de acción. Por ser un área vital para las empresas, brinda el apoyo para mantener su funcionamiento y operatividad. A continuación, enumeramos sus principales aplicaciones en estas:
        </p>

        <ol>
          <li>Bases de datos y sitios web.</li> <br/>
          <li>Sistemas organizacionales y de información.</li><br/>
          <li>Administración de redes, comunicaciones, hardware y software.</li><br/>
          <li>Seguridad informática.</li><br/>
          <li>Soluciones y proyectos de tecnología.</li>
        </ol>
        
        
        
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="./assets/img/Imagen2.jpg" width="600px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>
