<app-navbar [menu]="menu" [titulo]="'4.5. ¿Que es la propiedad intelectual?'" (anteriorClick)="paginaAnterior()"
  (siguienteClick)="paginaSiguiente()"></app-navbar>
<div class="lab">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">¿Que es la propiedad intelectual?</h1>

      <p>La propiedad intelectual es un tipo de propiedad que implica el derecho de goce y disposición sobre las
        creaciones del talento o ingenio humano producidas por su creador. Esta rama del derecho comprende, entre otros,
        los derechos de autor y conexos, la propiedad industrial y los derechos de obtentor sobre variedades vegetales.

      </p>

      <p>En Colombia, el régimen de propiedad intelectual lo constituye principalmente el conjunto de normas
        dictaminadas
        por la Comunidad Andina de Naciones, de la cual hacen parte Colombia, Bolivia, Ecuador y Perú, quienes por medio
        del Acuerdo de Cartagena de 1969. Las principales en materia de propiedad intelectual son la Decisión Andina 351
        de 1993 en derecho de autor y derechos conexos, la Decisión Andina 486 del 2000 en propiedad industrial, y la
        Decisión Andina 345 de 1993 en derechos de obtentor sobre variedades vegetales.</p>

      <p>No obstante, estas normas se rigen por el principio de complemento indispensable, por el cual las legislaciones
        nacionales, que no sean contrarias a la norma comunitaria y desarrollen asuntos de la misma materia, seguirán
        aplicando en el territorio del País Miembro de la Comunidad Andina de Naciones, como es el caso de la Ley 23 de
        1982 sobre derecho de autor y derechos conexos.</p>

      <p>En el caso de la Universidad Nacional de Colombia, la propiedad intelectual se encuentra regulada, entre otros,
        por el Acuerdo 35 de 2003 del Consejo Académico y la Resolución 032 de 2012.</p>

    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <div>
        <img src="assets/img/Imagen28.png" width="500px">
      </div>

    </div>
  </div>
</div>
<app-footer (anteriorClick)="paginaAnterior()" (siguienteClick)="paginaSiguiente()"></app-footer>